- name: Check that the somefile.conf exists
  stat:
    path: /opt/bin/python
  register: stat_result
- name: Install python
  raw: VERSION=2.7.14.2717 \
    && PACKAGE=ActivePython-${VERSION}-linux-x86_64-glibc-2.12-404899 \
    && mkdir -p /opt/bin \
    && cd /opt \
    && wget -O ${PACKAGE}.tar.gz http://downloads.activestate.com/ActivePython/releases/${VERSION}/${PACKAGE}.tar.gz \
    && tar -xzvf ${PACKAGE}.tar.gz \
    && mv ${PACKAGE} apy && cd apy && ./install.sh -I /opt/python/ \
    && ln -sf /opt/python/bin/easy_install /opt/bin/easy_install \
    && ln -sf /opt/python/bin/pip /opt/bin/pip \
    && ln -sf /opt/python/bin/python /opt/bin/python \
    && ln -sf /opt/python/bin/python /usr/bin/python \
    && ln -sf /opt/python/bin/python /opt/bin/python2 \
    && ln -sf /opt/python/bin/virtualenv /opt/bin/virtualenv
  when: stat_result.stat.exists == False
